services:
  app-backend:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    command: yarn run start:dev
    restart: unless-stopped
    volumes:
      - ./:/usr/src/app
      # - ./node_modules:/usr/src/app/node_modules
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_DEVEL}
      - POSTGRES_USER=${POSTGRES_USER_DEVEL}
      - POSTGRES_DB=${POSTGRES_DB_DEVEL}
    ports:
      - 3005:3000
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
  
  postgres:
    image: postgres:14-alpine
    restart: unless-stopped
    ports:
      - 5428:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_DEVEL}
      - POSTGRES_USER=${POSTGRES_USER_DEVEL}
      - POSTGRES_DB=${POSTGRES_DB_DEVEL}
    logging:
      driver: "json-file"
      options:
        max-size: "5m"

volumes:
  postgres_data:

networks:
  nettrotter:
    external: true